.hsButton{
    width: 25%;
    margin: 5px;
    margin-left: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 30px;
    text-align: center;
    border-radius: 10px;
    
}
.hsButton:hover{
    background-color: blue;
}
